@model TourDetailDto

<section class="banner">
    <img src="~/img/banner/denniz.png" alt="" />
    <h4 class="text-center">TOUR DU LỊCH BIỂN ĐẢO</h4>
</section>

<section class="about-container">
    <div class="container">
        <div class="link-item">
            <a href="/">Trang chủ</a> <i class='fa fa-angle-right'></i> <a href="">@Model.TourCategory.Breadcrumb</a> <i
                class='fa fa-angle-right'></i>
            <a href="#">@Model.TourInfo.Name</a>
        </div>

        <div class="wrap-tour">
            <div class="list-tour">
                <div class="title-tour">
                    <a href="#">
                        <h4>
                            @Model.TourInfo.Title
                        </h4>
                    </a>
                </div>
                <div class="content-tour">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="imaged">
                                <a href="#"> <img src="~/@Model.TourInfo.ThumnailUrl" alt="" /></a>
                            </div>
                        </div>
                        <div class="col-md-8">
                            <div class="content">
                                <div class="start-fly">
                                    <img src="~/img/icons/Icon metro-airplane.png" alt="" />
                                    <p>Khởi hành từ: @Model.TourInfo.From</p>
                                </div>
                                <p>Lịch khởi hành: @Model.TourInfo.Schedule</p>
                                <p>Thời gian: @Model.TourInfo.Duration</p>
                                <p>Phương tiện: @Model.TourInfo.Vehicle</p>
                                <p>
                                    Điểm thăm quan: @Model.TourInfo.Locations
                                </p>
                            </div>
                            <div class="wrap-booktour">
                                <div class="book-tour mleft-0" style="width: 25%">
                                    <a href="/gui-yeu-cau-tu-van.html"><img src="~/img/icons/Icon awesome-wpforms.png" alt="" />
                                        <span>Liên hệ đặt tour</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="intro-tour">
                <p>
                    @Model.TourInfo.Description
                </p>
            </div>
            <div class="wrap-tourschedule">
                <div class="list-group listTours" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active listGroupTour" id="list-tour-schedule"
                        data-toggle="list" href="#tour-schedule" role="tab" aria-controls="north-side">Lịch trình
                        tour</a>
                    <a class="list-group-item list-group-item-action listGroupTour" id="list-journey-photo"
                        data-toggle="list" href="#journey-photo" role="tab" aria-controls="center-side">Ảnh hành
                        trình</a>
                    <a class="list-group-item list-group-item-action listGroupTour" id="list-price-included"
                        data-toggle="list" href="#price-included" role="tab" aria-controls="south-side">Giá bao gồm</a>
                    <a class="list-group-item list-group-item-action listGroupTour" id="list-not-included"
                        data-toggle="list" href="#price-not-included" role="tab" aria-controls="south-side">Giá không
                        bao gồm</a>
                </div>
                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane fade show active" id="tour-schedule" role="tabpanel"
                        aria-labelledby="list-tour-schedule">
                        <div class="multisteps-form">
                            <!--form panels-->
                            <div class="title-scheduletour">
                                <h4>LỊCH TRÌNH TOUR</h4>
                            </div>
                            <div class="content-scheduletour">
                                @Html.Raw(Model.TourInfo.Content)
                                <p style="text-align: center;"><b>VITRIP hẹn gặp lại Quý khách ở những chương trình tiếp theo!</b></p>
                                <p>
                                    <b>LƯU Ý:</b>
                                    <ul>
                                        <li>Lịch trình có thể thay đổi tùy theo điều kiện thực tế</li>
                                        <li>Giá trên chỉ áp dụng cho khách mang quốc tịch Việt Nam</li>
                                        <li>Giá tour áp dụng cho khách đoàn và không áp dụng cho dịp Lễ, Tết</li>
                                    </ul>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="journey-photo" role="tabpanel" aria-labelledby="list-journey-photo">
                        <div class="multisteps-form">
                            <!--form panels-->
                            <div class="title-journey">
                                <h4>ảnh hành trình</h4>
                            </div>
                            @if (Model.Images.Count > 0)
                            {
                                int index = 0;
                                foreach (var image in Model.Images)
                                {
                                    if (index % 4 == 0)
                                    {
                                        @Html.Raw("<div class='row mr-05'>")
                                    }

                                    <div class="col-md-3 pd-5">
                                        <div class="imaged-journey">
                                            <img src="~/@image.Url" alt="" />
                                        </div>
                                    </div>

                                    if (index % 4 == 3)
                                    {
                                        @Html.Raw("</div>")
                                    }
                                    index++;
                                }
                                if (index % 4 != 0)
                                {
                                    while (index % 4 != 3)
                                    {
                                        <div class="col-md-3 pd-5"></div>

                                        index++;
                                    }
                                    <div class="col-md-3 pd-5"></div>
                                    @Html.Raw("</div>")
                                }
                            }
                        </div>
                    </div>
                    <div class="tab-pane fade" id="price-included" role="tabpanel"
                        aria-labelledby="list-price-included">
                        <div class="multisteps-form">
                            <!--form panels-->
                            <div class="title-journey">
                                <h4>giá bao gồm</h4>
                            </div>
                            <div class="content-price">
                                @foreach (var item in Model.Includes)
                                {
                                    <div class="list-price">
                                        <img src="~/img/icons/Tick.png" alt="" />
                                        <p>@item.Content</p>
                                    </div>
                                }                                
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="price-not-included" role="tabpanel"
                        aria-labelledby="list-not-included">
                        <div class="multisteps-form">
                            <!--form panels-->
                            <div class="title-journey">
                                <h4>giá không bao gồm</h4>
                            </div>
                            <div class="content-price">                                
                                @foreach (var item in Model.Excludes)
                                {
                                    <div class="list-price">
                                        <img src="~/img/icons/Component 2.png" alt="" />
                                        <p>
                                            @item.Content
                                        </p>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slider-areas">
    <div class="container">
        <h5>Có thể bạn quan tâm</h5>
    </div>
    <div class="carousel-wrap">
        <div class="owl-areas owl-carousel">
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-lam-loi-1070139.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Đà Nẵng, Nha Trang</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-loifotos-3282516.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Phú Yên</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-loifotos-2853964.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Buôn Ma Thuật</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-lam-loi-1070139.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Đà Nẵng, Nha Trang</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-loifotos-3282516.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Phú Yên</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-loifotos-2853964.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Buôn Ma Thuật</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-lam-loi-1070139.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Đà Nẵng, Nha Trang</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-loifotos-3282516.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Phú Yên</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="micetour-place">
                    <a href="#"><img src="~/img/pexels-loifotos-2853964.png" alt="" /></a>
                    <div class="sites-areas">
                        <div class="areas-text">
                            <p>Buôn Ma Thuật</p>
                        </div>
                        <div class="button-seemore">
                            <a href="#"><button type="button" class="btn-seemore">
                                    Xem thêm
                                </button></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>